body {
    background-color: #323844;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

*:focus {
    outline-color: #d1d1d1;
}

#newTaskForm {
    display: flex;
    text-align: left;
    align-items: center;
}

#taskDescription {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    font-family: "Roboto Condensed", sans-serif;
    color: #2c2c2c;
}

#addTaskButton {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-top: 3px;
}

#addTaskButton:hover {
    color: #3d7e3b;
}


#addTaskButton:active {
    transform: scale(95%);
    color: #54ad51;
}

.task-checkbox {
    display: flex;
    text-align: left;
    align-items: center;
    color: whitesmoke;
}

.custom-checkbox {
    opacity: 0; /* Hide the default checkbox */
    position: absolute;
    top: 0;
    left: 0;
}

.material-checkbox {
    cursor: pointer;
    user-select: none;
    padding-right: 8px;
}

.material-checkbox:hover {
    color: #c2c2c2;
}

#taskList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    margin-left: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

.removeButton {
    background-color: transparent;
    color: #ffbabf;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.removeButton:hover {
    color: #cc7d80;
}

/* project visuals */

#projectVisual {
    text-align: center;
    position: fixed;
    /*left: 37.5%;*/
    bottom: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view {
    display: flex;
    width: 126px;
    justify-content: center;
    padding-bottom: 4%;
}

.backend.and.db {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.backend {
    position: relative;
    margin-right: 15%;
}

.backend.pc {
    width: 188px;
}

.backend.gear {
    position: absolute;
    left: 75%;
    bottom: 15%;
}

.db {
    width: 98px;
    margin-right: 3%;
    margin-top: 10px;
}

